<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Welcome To my Portfolio!</div>
        <div class="masthead-heading">Looking for a developer?</div>
        <span class="d-sm-none d-xs-none d-none d-md-block">
            <p >My name is <strong>Luis Gordillo</strong> and I'm a Full Stack Developer, I love web development and my work is driven by enthusiasm, hard work, innovation and efficiency. Always learning new technologies and ready to offer the best solutions to your problems.</p>
        </span>
        
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">LET'S BEGIN</a>
    </div>
  </header>



