<div class="container">

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/img/about/7.jpg" style="height: 400px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">System Engineer</h5>
          
          <p class="card-text">I am currently studying systems engineering with an emphasis on software development.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/img/about/5.jpg" style="height: 400px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Web Development Courses</h5>
          <p class="card-text">Completion of more than 5 Web Development courses.</p>
        </div>
      </div>
    </div>
  </div>

</div>
