<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card text-center h-100">

        <div class="card-body">
          <i class="fa-solid fa-pen-to-square fa-5x mt-5 mb-5"></i>
          <h5 class="card-title text-center">Frontend Development</h5>  

          <h6 class="card-subtitle text-center">Languages</h6> 
          <ul class="text-center">
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>C#</li>
          </ul>

          <h6 class="card-subtitle text-center">Frameworks and Libraries</h6>  
          <ul class="text-center">
            <li>Bootstrap</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center h-100">
        
        <div class="card-body">
            <i class="fa-solid fa-code fa-5x mt-5 mb-5"></i>
            <h5 class="card-title text-center">Backend Development</h5>  

            <h6 class="card-subtitle text-center">Languages and Frameworks</h6> 
            <ul class="text-center">
              <li>JavaScript</li>
              <li>Node.js</li>
              <li>Express.js</li>
            </ul>

            <h6 class="card-subtitle text-center">Databases</h6>  
            <ul class="text-center">
              <li>MySQL</li>
              <li>MongoDB</li>
              <li>Sql Server</li>
              <li>Oracle</li>
            </ul>

            <h6 class="card-subtitle text-center">Others</h6>  
            <ul class="text-center">
              <li>Postman</li>
              <li>Heroku</li>
              <li>TypeORM</li>
              <li>Firebase</li>
            </ul>

          </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center h-100">
        
        <div class="card-body">
            <i class="fa-solid fa-laptop-code fa-5x mt-5 mb-5"></i>
            <h5 class="card-title text-center">Other Technologies</h5>  

            <h6 class="card-subtitle text-center">Others</h6> 
            <ul class="text-center">
              <li>Git</li>
              <li>Github</li>
              <li>TypeScript</li>
              <li>Talend Open Studio</li>
              <li>Matlab</li>
              <li>Auth0</li>
              <li>Power Bi</li>
              <li>Jira</li>
              <li>Jwt</li>
              <li>Npm</li>
            </ul>

            <h6 class="card-subtitle text-center">Operating System</h6>  
            <ul class="text-center">
              <li>Windows</li>
              <li>Linux</li>
            </ul>
          </div>
      </div>
    </div>
</div>
