<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; My Portfolio {{ anio }}</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/GGordillo16" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://github.com/ingordillo" target="_blank" aria-label="Github"><i class="fab fa-github"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/luis-gordillo-182500238/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/" target="_blank" aria-label="Twitter"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://wa.me/573016190845?text=Hola,%20quiero%20saber%20más%20sobre%20tus%20servicios" target="_blank" aria-label="Whatsapp"><i class="fab fa-whatsapp"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-1">Email:</a>
                <a class="link-dark text-decoration-none" href="mailTo:ingordillo2@gmail.com">ingordillo2@gmail.com</a>
            </div>
        </div>
    </div>
  </footer>
